<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-3 justify-content-center">       
        <button class="btn btn-outline-light ml-auto mr-auto" (click)="abrirModalSnippet(nuevoSnippet)">Nuevo Snippet</button>
    </div>
    <div class="row justify-content-center" *ngIf="snippets.length==0">
        <img src="assets/Snippetsvacio.png" height="500" class="img-fluid" alt="vacio">
      </div>
    <div class="row" id="proyectos">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor="let snippet of snippets">
            <app-card-snippets [snippet]="snippet" [idUsuario]="idUsuario" (eventoBorrarSnippet)="eliminarSnippet($event)"  ></app-card-snippets>
        </div>
    </div>
</div>

<app-sidebar></app-sidebar>
<ng-template #nuevoSnippet let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar una nuevo snippet</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <label for="nombreSnippet">Nombre Snippet:</label>
        <input class="form-control" type="text" name="" id="nombreSnippet" [(ngModel)]="nuevo.nombreSnippet">
        <label for="descripcion">Descripcion:</label>
        <input class="form-control" type="text" id="descripcion" [(ngModel)]="nuevo.descripcion">
        <label for="lenguaje">Selecciona unLenguaje de programacion:</label>
        <select id="lenguaje" class="custom-select" [(ngModel)]="nuevo.lenguaje">
            <option value="php">PHP</option>
            <option value="python">Python</option>
            <option value="ruby">Ruby</option>
            <option value="perl">Perl</option>
            <option value="c++">C++</option>
            <option value="otro">Otro</option>
        </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="nSnippet()">Agregar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
    </div>
  </ng-template>