.container{
    max-width: 100%;
    max-height: 100%;
}

.fs{
    font-size: small;
}

.btn-outline-light{
    color: #2f4858;
    border-color: #2f4858!important;
    border-radius: 50px;
    background-color: #fff;
}


  
  .btn-outline-light:hover {
    color: #fff;
    background-color: #2f4858;
    border-color: #fff;
  }

  .btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(0,101,141, 0.5);
  }

  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #2f4858;
    background-color: transparent;
  }

  .enlace{
      text-decoration: none;
      color: inherit;
  }


  .enlace:hover{
    text-decoration: none;
    color: inherit;
}