    <div class="card">
        <a class="enlace" [routerLink]="['/editor',{'id':idUsuario, 'idCarpeta':idCarpeta,'idProyecto':proyecto._id}]">
            <img src="assets/img/proyecto.png" class="card-img-top mr-auto ml-auto"  alt="EditarCodigo">
        </a>
        <div class="card-body">
            <div class="float-right "><button class="btn btn-danger btn-circle" (click)="eliminar(eliminarProyecto)"><i class="far fa-trash-alt"></i></button></div>
            <h5 class="fs">{{proyecto.nombreProyecto}}</h5>
            <p class="fs">{{proyecto.descripcion}}</p>
            <span class="badge badge-pill badge-danger mr-2">HTML</span>
            <span class="badge badge-pill badge-primary mr-2">CSS</span>
            <span class="badge badge-pill badge-warning mr-2">JS</span>
        </div>
    </div>

    <ng-template #eliminarProyecto let-modal>
    
        <div class="modal-body">
            <h3>Esta seguro de eliminar este proyecto</h3>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
          <button type="button" class="btn btn-outline-danger" (click)="borrar(proyecto._id)">Eliminar</button>
        </div>
      </ng-template>