<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-2">
        <div class="col-lg-6">
            <h2 style="margin-left: 35%;">{{nombreProyecto}}</h2>
        </div>
        <div class="col-lg-6">
            <div class="float-right">
            <button class="btn btn-danger btn-circle mr-2" (click)="ejecutar()" placement="top" ngbTooltip="Ejecutar"><i id="ejecutar" class="far fa-2x fa-play-circle"  ></i></button> 
            <button class="btn btn-success btn-circle mr-2" (click)="guardar()" placement="top" ngbTooltip="Guardar"><i class="far fa-2x fa-save"></i></button>
            <button class="btn btn-warning btn-circle mr-2" (click)="limpiar()" placement="top" ngbTooltip="Limpiar codigo"><i class="far fa-2x fa-trash-alt"></i></button>
            <button class="btn btn-primary btn-circle mr-2" (click)="descargarCodigo()" placement="top" ngbTooltip="Descargar proyecto"><i class="far fa-2x fa-arrow-alt-circle-down"></i></button>
            <button class="btn btn-secondary btn-circle mr-2" (click)="cerrar()" placement="top" ngbTooltip="Cerrar Proyecto"><i class="far fa-2x fa-times-circle"></i></button>
        </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-6 p-0">
            <div class="row">
                <div class="col-lg-12">    
                    <div class="headerEditor">
                        <p class="text-white ml-2"><i class="fas fa-angle-down"></i> Codigo HTML</p>
                    </div>
                    <ngx-codemirror 
                        [options]="{lineNumbers:true,
                                    theme: 'dracula',
                                    mode: 'htmlmixed'}"
                        [(ngModel)]="codigoHTML"
                        class="editor"
                    ></ngx-codemirror>
                </div>    
            </div>
            <div class="row">
                <div class="col-lg-12">    
                    <div class="headerEditor">
                        <p class="text-white ml-2"><i class="fas fa-angle-down"></i> Codigo CSS</p>
                    </div>
                    <ngx-codemirror 
                        [options]="{lineNumbers:true,
                                    theme: 'dracula',
                                    mode: 'css'}"
                        [(ngModel)]="codigoCSS"
                        class="editor"
                    ></ngx-codemirror>
                </div>    
            </div> 
   
        </div>
        <div class="col-lg-6 p-0">
            <div class="row">
                <div class="col-lg-12 pr-4">    
                    <div class="headerEditor">
                        <p class="text-white ml-2"><i class="fas fa-angle-down"></i> Codigo JavaScript</p>
                    </div>
                    <ngx-codemirror 
                        [options]="{lineNumbers:true,
                        theme: 'dracula',
                        mode: 'javascript'}"
                        [(ngModel)]="codigoJS"
                        class="editor"
                    ></ngx-codemirror>
                </div>
            </div>
            <div class="row" style="height: 325px;">
                <div class="col-lg-12">
                        <iframe class="visualizador" [srcdoc]="contenido | noSanitize"></iframe>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
<app-sidebar></app-sidebar>