<div class="text-center mt-4"> 
    <h3>Potencia tus habilidades en desarrollo web</h3>
    <p style="font-size: 12px;" class="m-0">Obten acceso a las caracteristicas que Code Ligne te ofrece</p>
    <p style="font-size: 12px;">Escoge el plan que mejor se adecue a tus necesidades</p>
</div>
<div class="container mt-5">

  <!-- Heading Row -->
  <div class="row mb-5">
   <div class="col-lg-4 divCard" id="divCard" *ngFor="let plan of planes" >
      <div class="card bg-light mb-3" style="max-width: 21rem; height: 400px;">
          <div class="card-header text-center">{{plan.nombrePlan}}</div>
          <div class="card-body text-center">
              <p class="m-0 text-center" style="font-size: 12px;">Detalles del plan</p>
              <p class="card-text text-center" style="font-size: 35px;">${{plan.precio}}/mes</p>
              <p class="card-text text-center">Numero de carpetas: {{plan.numeroCarpetas}}</p>
              <p class="card-text text-center">Numero de proyectos por carpeta: {{plan.numeroProyectos}}</p>
              <p class="card-text text-center">creacion de snippetts: Si</p>
              <p class="card-text text-center">Numero maximo de snippets: {{plan.numeroSnippets}}</p>
              <p class="card-text text-center"></p>
              
              <a class="btn btn-outline-light" (click)="seleccionarPlan(plan._id,plan.numeroCarpetas,plan.numeroProyectos,plan.numeroSnippets)">Seleccionar plan</a>
         </div>
      </div>
    </div>
    


  </div>
</div>