<div class="text-center mt-4"> 
    <h3>Potencia tus habilidades en desarrollo web</h3>
    <p style="font-size: 12px;" class="m-0">Obten acceso a las caracteristicas que Code Ligne te ofrece</p>
    <p style="font-size: 12px;">Escoge el plan que mejor se adecue a tus necesidades</p>
</div>
<div class="container mt-5">

  <!-- Heading Row -->
  <div class="row mb-5">
   <div class="col-lg-4 divCard" id="divCard">
      <div class="card bg-light mb-3" style="max-width: 21rem;">
          <div class="card-header text-center">Plan Gratis</div>
          <div class="card-body text-center">
              <p class="m-0 text-center" style="font-size: 12px;">Detalles del plan</p>
              <p class="card-text text-center" style="font-size: 35px;">$0/mes</p>
              <p class="card-text text-center">Numero de carpetas: 5</p>
              <p class="card-text text-center">Numero de proyectos por carpeta: 5</p>
              <p class="card-text text-center">creacion de snippetts: Si</p>
              <p class="card-text text-center">Numero maximo de snippets: 10</p>
              <p class="card-text text-center"></p>
              
              <a routerLink="/principal" class="btn btn-outline-light" >Seleccionar plan</a>
         </div>
      </div>
    </div>
    <div class="col-lg-4 divCard" id="divCard">
        <div class="card bg-light mb-3" style="max-width: 21rem;">
            <div class="card-header text-center">Plan Estandar</div>
            <div class="card-body text-center">
                <p class="m-0 text-center" style="font-size: 12px;">Detalles del plan</p>
                <p class="card-text text-center" style="font-size: 35px;">$5/mes</p>
                <p class="card-text text-center">Numero de carpetas: 20</p>
                <p class="card-text text-center">Numero de proyectos por carpeta: 10</p>
                <p class="card-text text-center">creacion de snippetts: Si</p>
                <p class="card-text text-center">Numero maximo de snippets: ilimitado</p>
                <p class="card-text text-center"></p>
                
                <a routerLink="/principal"  class="btn btn-outline-light" >Seleccionar plan</a>
           </div>
        </div>
      </div>
      <div class="col-lg-4 divCard" id="divCard">
        <div class="card bg-light mb-3" style="max-width: 21rem;">
            <div class="card-header text-center">Plan Pro</div>
            <div class="card-body text-center">
                <p class="m-0 text-center" style="font-size: 12px;">Detalles del plan</p>
                <p class="card-text text-center" style="font-size: 35px;">$10/mes</p>
                <p class="card-text text-center">Numero de carpetas: ilimitado</p>
                <p class="card-text text-center">Numero de proyectos por carpeta: ilimitado</p>
                <p class="card-text text-center">creacion de snippetts: Si</p>
                <p class="card-text text-center">Numero maximo de snippets: ilimitado</p>
                <p class="card-text text-center"></p>
                
                <a routerLink="/principal"  class="btn btn-outline-light" >Seleccionar plan</a>
           </div>
        </div>
      </div>


  </div>
  <div class="row mb-5">
    <div class="col-lg-12 text-center">
      <a class="btn btn-outline-light" routerLink="/principal"  >Seleccionar plan en otro Momento</a>
    </div>
      
  </div>
</div>